exportPattern("^[[:alpha:]]+")
import("fredr")
import("purrr")
import("reshape2")
import("dplyr")
import("lubridate")
import("ggplot2")
import("scales")
import("tis")
import("formattable")
import("ggthemes")
import("openxlsx")
import("extrafont")
import("xts")
import("plyr")
import("dplyr")
import("gdata")
